<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

<servlet>
  <servlet-name>FacultyEditStudentDetails</servlet-name> 
  <servlet-class>FacultyEditStudentDetails</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEditStudentDetails</servlet-name>
<url-pattern>/servlet/FacultyEditStudentDetails</url-pattern>
</servlet-mapping>
  
  
  
<servlet>
 <servlet-name>AddStudentCSEA</servlet-name> 
 <servlet-class>AddStudentCSEA</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentCSEA</servlet-name>
<url-pattern>/servlet/AddStudentCSEA</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>AddStudentCSEB</servlet-name> 
<servlet-class>AddStudentCSEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentCSEB</servlet-name>
<url-pattern>/servlet/AddStudentCSEB</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>AddStudentCSEC</servlet-name> 
<servlet-class>AddStudentCSEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentCSEC</servlet-name>
<url-pattern>/servlet/AddStudentCSEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminEditStudentDetails</servlet-name> 
<servlet-class>AdminEditStudentDetails</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminEditStudentDetails</servlet-name>
<url-pattern>/servlet/AdminEditStudentDetails</url-pattern>
</servlet-mapping>
 
 <servlet>
<servlet-name>DeleteStudent</servlet-name> 
<servlet-class>DeleteStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteStudent</servlet-name>
<url-pattern>/servlet/DeleteStudent</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>RemoveFaculty</servlet-name> 
<servlet-class>RemoveFaculty</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemoveFaculty</servlet-name>
<url-pattern>/servlet/RemoveFaculty</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>AllUser</servlet-name> 
<servlet-class>AllUser</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AllUser</servlet-name>
<url-pattern>/servlet/AllUser</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name> 
<servlet-class>Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/servlet/Login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Admin</servlet-name> 
<servlet-class>Admin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Admin</servlet-name>
<url-pattern>/servlet/Admin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Faculty</servlet-name> 
<servlet-class>Faculty</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Faculty</servlet-name>
<url-pattern>/servlet/Faculty</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewAll</servlet-name> 
<servlet-class>ViewAll </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ViewAll</servlet-name>
<url-pattern>/servlet/ViewAll</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyAttendanceList</servlet-name> 
<servlet-class>FacultyAttendanceList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceList</servlet-name>
<url-pattern>/servlet/FacultyAttendanceList</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdminAttendanceList</servlet-name> 
<servlet-class>AdminAttendanceList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminAttendanceList</servlet-name>
<url-pattern>/servlet/AdminAttendanceList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteValues</servlet-name> 
<servlet-class>DeleteValues </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteValues</servlet-name>
<url-pattern>/servlet/DeleteValues</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddFaculty</servlet-name> 
<servlet-class>AddFaculty </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddFaculty</servlet-name>
<url-pattern>/servlet/AddFaculty</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewStudent</servlet-name> 
<servlet-class>ViewStudent </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ViewStudent</servlet-name>
<url-pattern>/servlet/ViewStudent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ARegistration</servlet-name> 
<servlet-class>ARegistration </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ARegistration</servlet-name>
<url-pattern>/servlet/ARegistration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogoutServlet</servlet-name> 
<servlet-class>LogoutServlet </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/servlet/LogoutServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceList</servlet-name> 
<servlet-class>ShortAttendanceList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceList</servlet-name>
<url-pattern>/servlet/ShortAttendanceList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyA</servlet-name> 
<servlet-class>ShortAttendanceListFacultyA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyA</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyA1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyA1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyA1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyA1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyB</servlet-name> 
<servlet-class>ShortAttendanceListFacultyB </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyB</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyB1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyB1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyB1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyB1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyC</servlet-name> 
<servlet-class>ShortAttendanceListFacultyC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyC</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyC1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyC1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyC1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyC1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyCSE</servlet-name> 
<servlet-class>FacultyCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyCSE</servlet-name>
<url-pattern>/servlet/FacultyCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyME</servlet-name> 
<servlet-class>FacultyME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyME</servlet-name>
<url-pattern>/servlet/FacultyME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyEEE</servlet-name> 
<servlet-class>FacultyEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEEE</servlet-name>
<url-pattern>/servlet/FacultyEEE</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdminCSE</servlet-name> 
<servlet-class>AdminCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminCSE</servlet-name>
<url-pattern>/servlet/AdminCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminME</servlet-name> 
<servlet-class>AdminME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminME</servlet-name>
<url-pattern>/servlet/AdminME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminEEE</servlet-name> 
<servlet-class>AdminEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminEEE</servlet-name>
<url-pattern>/servlet/AdminEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminEC</servlet-name> 
<servlet-class>AdminEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminEC</servlet-name>
<url-pattern>/servlet/AdminEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyCSEA</servlet-name> 
<servlet-class>FacultyCSEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyCSEA</servlet-name>
<url-pattern>/servlet/FacultyCSEA</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListA</servlet-name> 
<servlet-class>FacultyAttendanceListA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListA</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyCSEB</servlet-name> 
<servlet-class>FacultyCSEB </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyCSEB</servlet-name>
<url-pattern>/servlet/FacultyCSEB</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListB</servlet-name> 
<servlet-class>FacultyAttendanceListB </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListB</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyCSEC</servlet-name> 
<servlet-class>FacultyCSEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyCSEC</servlet-name>
<url-pattern>/servlet/FacultyCSEC</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListC</servlet-name> 
<servlet-class>FacultyAttendanceListC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListC</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyCSED</servlet-name> 
<servlet-class>FacultyCSED </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyCSED</servlet-name>
<url-pattern>/servlet/FacultyCSED</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListD</servlet-name> 
<servlet-class>FacultyAttendanceListD </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListD</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListD</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyEC</servlet-name> 
<servlet-class>FacultyEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEC</servlet-name>
<url-pattern>/servlet/FacultyEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyECA</servlet-name> 
<servlet-class>FacultyECA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyECA</servlet-name>
<url-pattern>/servlet/FacultyECA</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListECA</servlet-name> 
<servlet-class>FacultyAttendanceListECA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListECA</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListECA</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>AddStudentECA</servlet-name> 
<servlet-class>AddStudentECA</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentECA</servlet-name>
<url-pattern>/servlet/AddStudentECA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECA</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECA</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECA1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECA1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECA1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECA1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyECB</servlet-name> 
<servlet-class>FacultyECB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyECB</servlet-name>
<url-pattern>/servlet/FacultyECB</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListECB</servlet-name> 
<servlet-class>FacultyAttendanceListECB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListECB</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListECB</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>AddStudentECB</servlet-name> 
<servlet-class>AddStudentECB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentECB</servlet-name>
<url-pattern>/servlet/AddStudentECB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECB</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECB</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECB1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECB1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECB1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECB1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyECC</servlet-name> 
<servlet-class>FacultyECC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyECC</servlet-name>
<url-pattern>/servlet/FacultyECC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyAttendanceListECC</servlet-name> 
<servlet-class>FacultyAttendanceListECC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListECC</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListECC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentECC</servlet-name> 
<servlet-class>AddStudentECC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentECC</servlet-name>
<url-pattern>/servlet/AddStudentECC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECC</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECC</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyECC1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyECC1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyECC1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyECC1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyEEEA</servlet-name> 
<servlet-class>FacultyEEEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEEEA</servlet-name>
<url-pattern>/servlet/FacultyEEEA</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListEEEA</servlet-name> 
<servlet-class>FacultyAttendanceListEEEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListEEEA</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListEEEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentEEEA</servlet-name> 
<servlet-class>AddStudentEEEA</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentEEEA</servlet-name>
<url-pattern>/servlet/AddStudentEEEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEA</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEA</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEA1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEA1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEA1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEA1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyEEEB</servlet-name> 
<servlet-class>FacultyEEEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEEEB</servlet-name>
<url-pattern>/servlet/FacultyEEEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyAttendanceListEEEB</servlet-name> 
<servlet-class>FacultyAttendanceListEEEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListEEEB</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListEEEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentEEEB</servlet-name> 
<servlet-class>AddStudentEEEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentEEEB</servlet-name>
<url-pattern>/servlet/AddStudentEEEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEB</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEB</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEB1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEB1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEB1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEB1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyEEEC</servlet-name> 
<servlet-class>FacultyEEEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyEEEC</servlet-name>
<url-pattern>/servlet/FacultyEEEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyAttendanceListEEEC</servlet-name> 
<servlet-class>FacultyAttendanceListEEEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListEEEC</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListEEEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentEEEC</servlet-name> 
<servlet-class>AddStudentEEEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentEEEC</servlet-name>
<url-pattern>/servlet/AddStudentEEEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEC</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEC</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyEEEC1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyEEEC1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyEEEC1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyEEEC1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyMEA</servlet-name> 
<servlet-class>FacultyMEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyMEA</servlet-name>
<url-pattern>/servlet/FacultyMEA</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListMEA</servlet-name> 
<servlet-class>FacultyAttendanceListMEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListMEA</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListMEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentMEA</servlet-name> 
<servlet-class>AddStudentMEA</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentMEA</servlet-name>
<url-pattern>/servlet/AddStudentMEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEA</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEA </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEA</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEA</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEA1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEA1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEA1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEA1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyMEB</servlet-name> 
<servlet-class>FacultyMEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyMEB</servlet-name>
<url-pattern>/servlet/FacultyMEB</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FacultyAttendanceListMEB</servlet-name> 
<servlet-class>FacultyAttendanceListMEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListMEB</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListMEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentMEB</servlet-name> 
<servlet-class>AddStudentMEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentMEB</servlet-name>
<url-pattern>/servlet/AddStudentMEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEB</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEB</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEB</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEB1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEB1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEB1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEB1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyMEC</servlet-name> 
<servlet-class>FacultyMEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyMEC</servlet-name>
<url-pattern>/servlet/FacultyMEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FacultyAttendanceListMEC</servlet-name> 
<servlet-class>FacultyAttendanceListMEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FacultyAttendanceListMEC</servlet-name>
<url-pattern>/servlet/FacultyAttendanceListMEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentMEC</servlet-name> 
<servlet-class>AddStudentMEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentMEC</servlet-name>
<url-pattern>/servlet/AddStudentMEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEC</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEC</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceListFacultyMEC1</servlet-name> 
<servlet-class>ShortAttendanceListFacultyMEC1 </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceListFacultyMEC1</servlet-name>
<url-pattern>/servlet/ShortAttendanceListFacultyMEC1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>shortAttendanceStudents</servlet-name> 
<servlet-class>shortAttendanceStudents </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>shortAttendanceStudents</servlet-name>
<url-pattern>/servlet/shortAttendanceStudents</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAttendanceListCSE</servlet-name> 
<servlet-class>AdminAttendanceListCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminAttendanceListCSE</servlet-name>
<url-pattern>/servlet/AdminAttendanceListCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAttendanceListEC</servlet-name> 
<servlet-class>AdminAttendanceListEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminAttendanceListEC</servlet-name>
<url-pattern>/servlet/AdminAttendanceListEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAttendanceListME</servlet-name> 
<servlet-class>AdminAttendanceListCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminAttendanceListME</servlet-name>
<url-pattern>/servlet/AdminAttendanceListME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAttendanceListEEE</servlet-name> 
<servlet-class>AdminAttendanceListEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AdminAttendanceListEEE</servlet-name>
<url-pattern>/servlet/AdminAttendanceListEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportCSE</servlet-name> 
<servlet-class>AttendanceReportCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportCSE</servlet-name>
<url-pattern>/servlet/AttendanceReportCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportCSEList</servlet-name> 
<servlet-class>AttendanceReportCSEList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportCSEList</servlet-name>
<url-pattern>/servlet/AttendanceReportCSEList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentCSE</servlet-name> 
<servlet-class>AddStudentCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentCSE</servlet-name>
<url-pattern>/servlet/AddStudentCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddFacultyCSE</servlet-name> 
<servlet-class>AddFacultyCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddFacultyCSE</servlet-name>
<url-pattern>/servlet/AddFacultyCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveFacultyCSE</servlet-name> 
<servlet-class>RemoveFacultyCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemoveFacultyCSE</servlet-name>
<url-pattern>/servlet/RemoveFacultyCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteValuesCSE</servlet-name> 
<servlet-class>DeleteValuesCSE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteValuesCSE</servlet-name>
<url-pattern>/servlet/DeleteValuesCSE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ShortAttendanceStudentsList</servlet-name> 
<servlet-class>ShortAttendanceStudentsList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShortAttendanceStudentsList</servlet-name>
<url-pattern>/servlet/ShortAttendanceStudentsList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportEC</servlet-name> 
<servlet-class>AttendanceReportEC</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportEC</servlet-name>
<url-pattern>/servlet/AttendanceReportEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportECList</servlet-name> 
<servlet-class>AttendanceReportECList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportECList</servlet-name>
<url-pattern>/servlet/AttendanceReportECList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportEEE</servlet-name> 
<servlet-class>AttendanceReportEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportEEE</servlet-name>
<url-pattern>/servlet/AttendanceReportEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportEEEList</servlet-name> 
<servlet-class>AttendanceReportEEEList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportEEEList</servlet-name>
<url-pattern>/servlet/AttendanceReportEEEList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportME</servlet-name> 
<servlet-class>AttendanceReportME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportME</servlet-name>
<url-pattern>/servlet/AttendanceReportME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceReportMEList</servlet-name> 
<servlet-class>AttendanceReportMEList </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AttendanceReportMEList</servlet-name>
<url-pattern>/servlet/AttendanceReportMEList</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentEC</servlet-name> 
<servlet-class>AddStudentEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentEC</servlet-name>
<url-pattern>/servlet/AddStudentEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddFacultyEC</servlet-name> 
<servlet-class>AddFacultyEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddFacultyEC</servlet-name>
<url-pattern>/servlet/AddFacultyEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveFacultyEC</servlet-name> 
<servlet-class>RemoveFacultyEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemoveFacultyEC</servlet-name>
<url-pattern>/servlet/RemoveFacultyEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteValuesEC</servlet-name> 
<servlet-class>DeleteValuesEC </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteValuesEC</servlet-name>
<url-pattern>/servlet/DeleteValuesEC</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentEEE</servlet-name> 
<servlet-class>AddStudentEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentEEE</servlet-name>
<url-pattern>/servlet/AddStudentEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddFacultyEEE</servlet-name> 
<servlet-class>AddFacultyEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddFacultyEEE</servlet-name>
<url-pattern>/servlet/AddFacultyEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveFacultyEEE</servlet-name> 
<servlet-class>RemoveFacultyEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemoveFacultyEEE</servlet-name>
<url-pattern>/servlet/RemoveFacultyEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteValuesEEE</servlet-name> 
<servlet-class>DeleteValuesEEE </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteValuesEEE</servlet-name>
<url-pattern>/servlet/DeleteValuesEEE</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddStudentME</servlet-name> 
<servlet-class>AddStudentME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudentME</servlet-name>
<url-pattern>/servlet/AddStudentME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddFacultyME</servlet-name> 
<servlet-class>AddFacultyME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddFacultyME</servlet-name>
<url-pattern>/servlet/AddFacultyME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveFacultyME</servlet-name> 
<servlet-class>RemoveFacultyME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemoveFacultyME</servlet-name>
<url-pattern>/servlet/RemoveFacultyME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteValuesME</servlet-name> 
<servlet-class>DeleteValuesME </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteValuesME</servlet-name>
<url-pattern>/servlet/DeleteValuesME</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SearchStudent</servlet-name> 
<servlet-class>SearchStudent </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SearchStudent</servlet-name>
<url-pattern>/servlet/SearchStudent</url-pattern>
</servlet-mapping>


</web-app>